=form_for "/login" do
  .form-group
    =text_field_tag :username, nil, placeholder: "Username", class: "form-control"
  .form-group
    =password_field_tag :password, nil, placeholder: "Password", class: "form-control"
  .form-group
    =submit_tag "Login", class: "btn btn-primary"
